<head>

</head>
<body>
	<div style="text-align:center">
		<img src="{{ url_for('static', filename='p1.jpg') }}" class="p1" style="width:75%" >
		<img src="{{ url_for('static', filename='p2.jpg') }}" class="p2" style="width:75%" >
		<h2>&emsp;</h2>
		<img src="{{ url_for('static', filename='p3.jpg') }}" class="p3" style="width:75%" >
		<h2>&emsp;</h2>
		<img src="{{ url_for('static', filename='p4.png') }}" class="p4" style="width:75%" >

	</div>
	  
</body>