<!DOCTYPE html>
<html lang="en">    
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}{% endblock title%} -titleBlock</title>
    {% endblock head %}
</head>
<body>
    <h1>Welcome My Friends</h1>
    <h3>─=≡Σ((( つ•̀ω•́)つ</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% endif %}
    {% endwith%}
    <div class="content">
        {% block content %}
        {% endblock content %}        
    </div>
</body>
</html>