{% extends "base.html" %}
{% block head %}
<script>var a=99;</script>
{% endblock head %}
{% block title %}Login{% endblock title %}
{% block content%}
<form method='post' action={{ url_for('login') }}>
        <p>
        <input type='text' name='username'>
    </p>
        <p>
        <input type="text" name="password">
    </p>
        <p>
        <button type='submit'>Submit</button>
    </p>
</form>
{% endblock content%}